@import './about.css';
@import './header.css';
@import './menu.css';
@import './contact.css';

@font-face {
	font-family: 'Clicker';
	src: url("../fonts/ClickerScript-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Garamond';
	src: url("../fonts/EBGaramond-Regular.ttf") format("truetype");
}

body, html{
  height: 100%;
  width: 100%;
  margin: 0  !important;
}

body{
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 100px;
  background-color: black ;
  color: white;
  font-family: 'Garamond';
  background: url('../img/main-back.jpg') 0 0 / cover no-repeat fixed;
}

h1{
  padding-top: 20px;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  font-family: 'Clicker', cursive;
}

a{
  text-decoration: none;
  color: inherit;
}

#content{
  grid-column: 1 / -1;
  padding: 10px;
}

.section-box{
  display: grid;
  justify-items: center;
  width: 85%;
  border-radius: 25px;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.vis-hidden{
  opacity: 0;
  transition: opacity .2s ease;
}

.hidden{
  display: none;
}

.visible{
  opacity: 1 !important;
  transition: opacity .2s ease;
}

