
header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  height: 60px;
}

.brand-box{
  grid-column: 2 / 4;
  display: flex;
  align-items: center;
}

.brand-name {
  font-size: 2rem;
}

.brand-logo {
  height: 70px;
  padding: 0 10px;
}

.nav-bar{
  grid-column: 4/5;
}

.nav-menu{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.menu-item{
  padding: 15px;
  text-decoration: none;
  color: inherit;
}
