header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 10px;
}

.brand-box {
  grid-column: 2 / 4;
  display: flex;
  align-items: center;
}

.brand-name {
  padding: 0;
  line-height: 70px;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  font-family: "Clicker", cursive;
}

.brand-logo {
  height: 80px;
  padding: 0 5px;
}

.nav {
  grid-column: 4/5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

nav .nav-menu-item {
  border-radius: 5%;
  padding: 25px;
}

nav .nav-menu-item:hover{
  -webkit-box-shadow: inset 0px 0px 27px 13px rgba(5,5,5,1);
  -moz-box-shadow: inset 0px 0px 27px 13px rgba(5,5,5,1);
  box-shadow: inset 0px 0px 27px 13px rgba(5,5,5,1);
  background-color: rgba(255, 255, 255, .5);
}
